
$primary: #ffffff;
$enable-responsive-font-sizes:true;


@import"node_modules/bootstrap/scss/bootstrap.scss";

h1{
    color: rgb(27, 27, 228);
    font-weight: bold;
}

.banner {
    background: url("images/rapids.jpg") bottom/100% no-repeat;
    min-height: 30rem;
}

// .box {
//     margin-top: 0px;
// }


.wrapper {
    background-color: $primary;
}

.entete {
    font-size: 20px;
    margin-left: 70rem;
    color: rgb(51, 51, 122);
    // background-color: rgb(104, 238, 243);
    display: inline-block;
   
}
.entete li {
    padding-left: 2rem;
    display: inline-block;

}

.menu li{
    display: flex;
}

.menu{
  
    border-radius: 25px;
    max-height: 10rem;
    font-size: 20px;
    background-color: rgb(207, 234, 235);
    padding-top: 1rem;
    color: rgb(51, 51, 122);
    font-weight: bold;
    
}

.texte {
    background-color: $primary;
    text-align: justify;
    font-size: 15px;
    color: rgb(96, 38, 143);
    font-weight: 700;
}

footer {
    background-color: rgb(75, 185, 189);
}

